<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
       default-autowire="byName">
    <context:annotation-config />
    <aop:aspectj-autoproxy/>
    <context:property-placeholder location="classpath:config.properties"/>

    <tx:annotation-driven />

    <context:component-scan base-package="com.craig" />

    <jpa:repositories base-package="com.craig" />

    <bean id="validator"
          class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>
    </bean>
    <bean id="validatorPostProcessor"
          class="org.springframework.validation.beanvalidation.MethodValidationPostProcessor">
        <property name="validator" ref="validator"/>
    </bean>

    <mvc:resources mapping="/resources/**" location="/resources/"/>



    <bean id="dataSource" class="${hibernate.datasource.class}" destroy-method="close">
        <property name="driverClass" value="${hibernate.driverclass}"/>
        <property name="jdbcUrl" value="${hibernate.url}" />
        <property name="username" value="${hibernate.user}"/>
        <property name="password" value="${hibernate.password}"/>
    </bean>
    <bean id="entityManagerFactory"
          class="${entitiy.manager.factory}">
        <property name="packagesToScan" value="com.craig.entity"/>
        <property name="jpaVendorAdapter">
            <bean class="${entity.manager.jpavendoradapter.class}">
                <property name="generateDdl" value="true" />
                <property name="showSql" value="true"/>
                <property name="databasePlatform" value="${entity.manager.database.platform}" />
            </bean>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <bean class="com.craig.security.CustomAuthenticationSuccessHandler" id="customAuthenticationSuccessHandler"/>

    <beans:beans xmlns="http://www.springframework.org/schema/security"
                 xmlns:beans="http://www.springframework.org/schema/beans"
                 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                 xmlns:context="http://www.springframework.org/schema/context"
                 xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


        <!-- enable user-expressions -->
        <http auto-config="true" use-expressions="true">
            <intercept-url pattern="/createAccount*" access="permitAll"/>
            <intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
            <intercept-url pattern="/user/**" access="hasRole('ROLE_USER')"/>
            <form-login
                    login-page="/login"
                    default-target-url="/index"
                    authentication-failure-url="/login?error"
                    username-parameter="username"
                    password-parameter="password"
                    authentication-success-handler-ref="customAuthenticationSuccessHandler"/>
            <logout logout-success-url="/login?logout"/>
            <!-- enable crsf protection -->
            <csrf />
        </http>

        <beans:bean name="bcryptEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
        <authentication-manager alias="authenticationManager">
            <authentication-provider user-service-ref="userDetailService">
                <password-encoder ref="bcryptEncoder"/>
            </authentication-provider>
        </authentication-manager>
    </beans:beans>
</beans>

